@model OA.Model.book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Article File Upload Info</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="../../Content/KinderEditor/kindeditor-min.js"></script>
    <link rel="stylesheet" href="../../Content/KinderEditor/themes/default/default.css" />
    <link rel="stylesheet" href="../../Content/KinderEditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="../../Content/KinderEditor/kindeditor.js"></script>
    <script src="~/Content/KinderEditor/lang/en.js"></script>
    <script charset="utf-8" src="../../Content/KinderEditor/plugins/code/prettify.js"></script>
    <script>
        KindEditor.ready(function (K) {
            var editor1 = K.create('#TempContentDescription', {
                cssPath: '../../Content/KinderEditor/plugins/code/prettify.css',
                uploadJson: '../../Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson:

'../../Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                    //self.sync();
                }
            });
            var editor2 = K.create('#TempAuthorDescription', {
                cssPath: '../../Content/KinderEditor/plugins/code/prettify.css',
                uploadJson: '../../Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson:

'../../Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                    //self.sync();
                }
            });

            prettyPrint();
        });
        function subAddForm() {
            $('#Form1').submit();
        }
        function afterAdd() {
            window.parent.afterAdd();
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm("AddArticleFileUploadInfo", new { }, new AjaxOptions() { OnSuccess = "afterAdd" }, new { id = "Form1" })) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4><strong>New Book or Article</strong></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PublishedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PublishedDate, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.WordsCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WordsCount, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea id="TempContentDescription" cols="100" rows="8"
                              style="width:570px;height:200px;visibility:hidden;"
                              name="TempDescription"></textarea>
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AuthorDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea id="TempAuthorDescription" cols="100" rows="8"
                              style="width:570px;height:200px;visibility:hidden;"
                              name="TempDescription"></textarea>
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EditorComment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EditorComment, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>
        </div>
    }
</body>
</html>
